h1 { color:gold; }
li { color:#e68a8a; } 
table { color:#8ae699; } 

.gradient {
background: linear-gradient(to right , #99c2ff , #bbff99);
color: white;
}
 
.sheep {
color:turquoise;
}

#favorite {
color: pink;
}

.text {
color: skyblue;
}

.back {
background:#d1bada;
color: white;
}


.title {
border: solid 1px black;
}

.text-small {
font-size: 14px;
}
